<!-- Navbar content -->
<nav class="navbar">
    <div class="brand"><a class="navbar-brand" href="/"><img src="https://see.fontimg.com/api/renderfont4/qzjl/eyJyIjoiZnMiLCJoIjo5NCwidyI6MTAwMCwiZnMiOjk0LCJmZ2MiOiIjOERFMjVBIiwiYmdjIjoiI0ZGRkZGRiIsInQiOjF9/VkFNUA/anarchaos.png" alt="Anarchy fonts"></a></div>
      <ul class="navbar-nav">
        <li><a class="nav-link" href="/">Home</a></li>
        <li><a class="nav-link" href="/products">Products</a></li>
        <li><a class="nav-link" href="/users">Users</a></li>
      </ul>
</nav>








