@-webkit-keyframes scale-in-center{0%{-webkit-transform:scale(0);transform:scale(0);opacity:1}100%{-webkit-transform:scale(1);transform:scale(1);opacity:1}}@keyframes scale-in-center{0%{-webkit-transform:scale(0);transform:scale(0);opacity:1}100%{-webkit-transform:scale(1);transform:scale(1);opacity:1}}

.scale-in-center{-webkit-animation:scale-in-center .7s cubic-bezier(.25,.46,.45,.94) both;animation:scale-in-center .7s cubic-bezier(.25,.46,.45,.94) both}


* {
    font-family: 'Play', sans-serif;
    margin: 0 auto;
}

#home {   
    background: #c94b4b;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4b134f, #c94b4b);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4b134f, #c94b4b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    height: 100vh;
    width: auto;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* #home-div{
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(88, 206, 49);
    margin-top: 5vh;
    height: 30vh;
    width: 20vw;
    border-radius: 10%;
} */

.home-heading{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 100px;
    font-size: 6rem;
    text-shadow: 2px 2px 5px black;
}

.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.icon {
    background-image: url(../img/homeicon-back.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 2%;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    height: 300px;
    width: 300px;
}

.home-icon {
    margin: 0 auto;
    align-content: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 100%;
}

.home-btn {
    margin-top: 20px;
    background-color: rgb(136, 255, 0);
    border: 4px solid black;
    padding: 20px;
    /* border-radius: 5px; */
}

.home-btn:hover {
    background-color: rgb(255, 0, 204);
}

.navbar {
    background-color: black;
    padding: 15px;
    align-items: center;
    color: white;
}

.brand {
    /* display: inline-block; */
    padding-top: 30px;
    padding-bottom: 30px;
}

.brand a{
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: auto;
}

ul {
    padding-left: 0;
    margin-left: 0;
    margin-top: 25px;
    margin-bottom: 25px;
    justify-content: space-around;
    list-style-type: none;
    display: flex;
    align-items: center;
    list-style: none;
}

.nav-link {
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin: 0 15px;
    color: white;
}

.nav-link:hover {
    color: rgb(136, 255, 0);
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.search-menus {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    margin-top: 45px;
}

.form-select{
    padding: 15px;
}

.form-btn {
    background-color: black;
    color: white;
    border: 2px solid black;
    width: 100px;
}

.results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
}

.results-card {
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 15px;
    width: 250px;
    height: 300px;
    border-radius: 2%;
}

.results-card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.img {
    display: block;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.results-img {
    width: 150px;
    height: 150px;
}

.results-body {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    width: 150px;
    height: 150px;
}

.btn {
    display: block;
    position: absolute;
    bottom: 25px;
    left: 32%;
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 15px;
    width: 70px;
}

h3 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

.details {
    text-align: center;
}

.title {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    display: block;
}

.review {
    text-align: center;
}

.review-form {
    position: relative;
    display: block;
    width: 50vw;
    height: auto;
    
}

.review-div {
    margin: 15px;
}

.textarea {
    width: 300px;
    height: 150px;
}

.review-submit{
    margin-top: 20px;
    display: block;
    text-align: center;
    margin-bottom: 50px;
}

.review-btn {
    background-color: black;
    border: 2px solid black;
    color: white;
    padding: 15px;
    width: 25%;
    border-style: none;
}

.review-btn:hover {
    background-color: rgb(136, 255, 0);
    border: 2px solid black;
    color: black;
}

.rate-wrapper {
    display:block;
    text-align:center;
    margin-top: 15px;
}

.rate {
    display:inline-block;
    height: 46px;
    padding: 0 10px;
}

.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}

.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}

.rate:not(:checked) > label:before {
    content: '★ ';
}

.rate > input:checked ~ label {
    color: rgb(136, 255, 0);    
}

.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: rgb(136, 255, 0);  
}

.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: rgb(136, 255, 0);
}

.posted-review{
    margin: 15px auto;
    padding: 40px;
    justify-content: left;
    width: 30%;
    height: auto;
    border-bottom: 1px solid rgb(136, 255, 0);
}

.posted-content{
    margin-top: 10px;
    margin-bottom: 10px;
}

.name-link {
    text-decoration: none;
    background-color: black;
    color: rgb(136, 255, 0);
}

.name-link:hover {
    color: white;
}
