<div id="home">
<h1 class="home-heading scale-in-center"><img src="https://see.fontimg.com/api/renderfont4/qzjl/eyJyIjoiZnMiLCJoIjoxNTgsInciOjEwMDAsImZzIjoxNTgsImZnYyI6IiMwMDAwMDAiLCJiZ2MiOiIjRkZGRkZGIiwidCI6MX0/VkFNUA/anarchaos.png" alt="Anarchy fonts"></h1>


    <div class="icon">
        <img src="/img/vampicon.png" alt="vamp lips" class="home-icon scale-in-center">
    </div>

    <a href="/products"><button type="button" class="home-btn shadow scale-in-center"><img src="https://see.fontimg.com/api/renderfont4/qzjl/eyJyIjoiZnMiLCJoIjozOCwidyI6MTAwMCwiZnMiOjM4LCJmZ2MiOiIjMDAwMDAwIiwiYmdjIjoiI0ZGRkZGRiIsInQiOjF9/ZW50ZXI/anarchaos.png" alt="Anarchy fonts"></button></a>

    <!-- <a href="/products"></a> -->

</div>