<%- include('../../views/partials/navbar') %>

<div class="all-users results">
<% user.forEach((user)=> { %>
    <div class="results-card user">
        <a href="/users/<%= user.id %>"><%= user.name %></a>
        <div class="stats">
            <p>Total Posts: <%= user.reviews.length %></p>
        </div>
    </div>

<% }) %>
</div>