<div class="card" style="width: 30rem;">
    <img src="<%= product.image_link %>" class="card-img-top" alt="<%= product.name %>">
    <div class="card-body">
      <p class="card-text"><%= product.description %></p>
    </div>
  </div>
  