<h1>Search by product type or brand</h1>

<h3>Type</h3>

<form action="/products/search" method="GET">
  <select class="form-select" name="product_type">
      <option selected>Product Types</option>
      <option value="blush">Blush</option>
      <option value="bronzer">Bronzer</option>
      <option value="eyebrow">Eyebrow</option>
      <option value="eyeliner">Eyeliner</option>
      <option value="eyeshadow">Eyeshadow</option>
      <option value="foundation">Foundation</option>
      <option value="lip_liner">Lip Liner</option>
      <option value="lipstick">Lipstick</option>
      <option value="mascara">Mascara</option>
      <option value="nail_polish">Nail Polish</option>
    </select>
    <input type="submit" value="Search">
</form>
  <!-- <h3>Brand</h3>

  <select class="form-select" aria-label="Default select example">
    <option selected>Open this select menu</option>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
  </select> -->


