<h1>Search by product type or brand</h1>

<h3>Type</h3>

<form action="/products/search" method="GET">
  <select class="form-select" name="product_type">
      <option selected disabled>Product Categories</option>
      <option value="blush">Blush</option>
      <option value="bronzer">Bronzer</option>
      <option value="eyebrow">Eyebrow</option>
      <option value="eyeliner">Eyeliner</option>
      <option value="eyeshadow">Eyeshadow</option>
      <option value="foundation">Foundation</option>
      <option value="lip_liner">Lip Liner</option>
      <option value="lipstick">Lipstick</option>
      <option value="mascara">Mascara</option>
      <option value="nail_polish">Nail Polish</option>
    </select>

 <h3>Brand</h3>
  <select class="form-select" name="brand">
    <option selected disabled>Choose a brand</option>
    <option value="almay">Almay</option>
    <option value="alva">Alva</option>
    <option value="burts_bees">Benefit</option>
    <option value="clinique">Clinique</option>
    <option value="colourpop">Colourpop</option>
    <option value="covergirl">Covergirl</option>
    <option value="elf">Elf</option>
    <option value="essie">Essie</option>
    <option value="fenty">Fenty</option>
    <option value="loreal">L'Oreal</option>
    <option value="maybelline">Maybelline</option>
    <option value="milani">Milani</option>
    <option value="nyx">Nyx</option>
    <option value="orly">Orly</option>
    <option value="pacifica">Pacifica</option>
    <option value="physicians_formula">Physicians Formula</option>
    <option value="revlon">Revlon</option>
    <option value="sinful_colours">Sinful Colours</option>
    <option value="smashbox">Smashbox</option>
    <option value="stila">Stila</option>
    <option value="wet_n_wild">Wet N Wild</option>
    <option value="sinful_colours">Sinful Colours</option>
  </select>
    <input type="submit" value="Search">
</form>





