<ul>
    <% product.forEach((product, index) => { %>
       <li id="hover">
            <a href="/product/<%= product.id %>" class="product-results"><%= product.name %></a>
       </li> 
    <% }) %>
</ul>